<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HexGecko</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" media="all"/>
  </head>
  <body>
    <header>
      <div id="logo"><img src="img/hex-gecko-logo.jpg" alt="HexGecko Logo"/></div>
      <nav id="navbar"></nav>
    </header>
    <main>
      <article id="content"></article>
      <aside id="archive"></aside>
    </main>
    <footer id="footer">&copy;2016 HexGecko</footer>
  </body>
</html>
