<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" media="all"/>
  </head>
  <body>
    <header>
      <div id="logo"><img src="img/hex-gecko-logo.jpg" alt="HexGecko Logo"/></div>
      <nav id="navbar" role="navigation"></nav>
    </header>
    <main role="main">
      <article id="content" role="article"></article>
      <aside id="archive" role="complementary"></aside>
    </main>
    <footer id="footer" role="contentinfo">&copy;2016 HexGecko</footer>
  </body>
</html>
