.platform-ios .manual-ios-statusbar-padding {
  padding-top:20px;
}
.manual-remove-top-padding {
  padding-top:0px; 
}
.manual-remove-top-padding .scroll {
  padding-top:0px !important;
}

.tabs-balanced>.tabs, .tabs.tabs-balanced {
  background-color: #555;
}

.tabs-striped.tabs-balanced .tabs {
  background-color: #555;
}

.bar.bar-balanced {
  background-color: #555;
}

.platform-android .bar .title {
  left: 0px !important;
  text-align: center;
}

.button.button-balanced {
  background-color: #4CAF50;
  font-weight: bold;
}

.list {
  margin-bottom: 5px;
}

.item-divider {
  border: 1px solid #4CAF50;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

.item {
  border: 1px solid #4CAF50;
}

.row.item-divider {
  border: 1px solid #4CAF50;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0px
}

.row.item {
  border: none;
  border-bottom: 1px solid #4CAF50;
  border-right: 1px solid #4CAF50;
  border-left: 1px solid #4CAF50;
  padding-top: 5px;
  margin: 0px
}

hr {
  height: 1px;
  background: #4CAF50;
  font-size: 14px;
  border: 0;
}
