<ion-view title="Exam Info">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="saveExamGrade(studentGradeList)" ng-show="state.gradeUpdated">Save</button>
  </ion-nav-buttons>
  <ion-content class="padding-top has-header">
    <h4>
      <span>{{examGroupRecord.category}}</span>
      <span ng-if="examRecord.name.length > 0">- {{examRecord.name}}</span>
      <span>- {{state.examRecordDate}}</span>
    </h4>
    <form class="list">      
      <div class="edit-list-header">
        <div style="padding-top: 8px; padding-bottom: 8px;"><span>Students Grade:</span></div>
      </div>
      <div class="edit-list-item" ng-repeat="grade in studentGradeList|orderBy:'lastName' track by $index">
        <div class="item">
          <span class="enum">{{$index+1}}.</span>
          <span><strong>{{grade.lastName}}</strong>, {{grade.firstName}}</span>
        </div>
        <label class="item item-input">
          <i class="icon ion-edit placeholder-icon"></i>
          <input type="number" ng-model="grade.grade" ng-change="gradeChanged(state)" placeholder="0">
        </label>
        <!--input type="number" ng-model="grade.grade" ng-change="gradeChanged(state)" placeholder="0"-->
      </div>
      
      <button class="button button-positive button-block" ng-click="saveExamGrade(studentGradeList)" ng-if="state.gradeUpdated">Save</button>
    </form>
    
    
    <div class="spacer" style="height: 1em;"></div>
  </ion-content>
</ion-view>
