<ion-view title="Student Info">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-if="state.showEditMode" ng-click="toggleShowEditMode(state)">Done</button>
  </ion-nav-buttons>
  <ion-content class="padding-top has-header">
    <h4>Student: {{studentRecord.lastName}}, {{studentRecord.firstName}} ({{studentRecord.gender}})</h4>
    
    <!-- list the notes for the students -->
    <div class="list">
      <!-- header -->
      <div class="edit-list-header">
        <!-- collapsble header --> 
        <div ng-click="collapseNoteList(studentRecord)">
          <ion-button class="button-icon"
                      ng-class="studentRecord.collapseNoteList ? 'ion-chevron-up' : 'ion-chevron-down'">
          </ion-button>
          <span>Notes: <span ng-if="noteList.length == 0">Empty</span></span>
        </div>
        
        <!-- button for entering edit mode -->
        <input type="button"
               value="Edit"
               ng-if="!state.showEditMode"
               ng-click="toggleShowEditMode(state)">
        
        <!-- button for createing a new note -->
        <input type="button"
               value="New"
               ng-if="!state.showEditMode"
               ng-click="showNoteAddEditModal(state)">
        
        <!-- button for exit edit mode -->
        <input type="button"
               value="Done"
               style="font-weight: bold"
               ng-if="state.showEditMode"
               ng-click="toggleShowEditMode(state)">
      </div>
      
      <!-- item in edit-mode -->
      <div class="edit-list-slider"
           ng-class="state.showEditMode === true ? 'hg-show' : ''"
           ng-if="!studentRecord.collapseNoteList">
        
        <div class="edit-list-item"
             ng-repeat="note in noteList track by $index">
          
          <!-- selected the node -->
          <div class="checkbox">
            <input type="checkbox"
                   ng-model="state.markedNotes[$index]">
          </div>
          
          <!-- note information -->
          <div class="item">
            <span><strong>{{note.category}}</strong></span>
            <p>
              <strong>{{noteDateList[$index].date}}</strong>
              <span ng-if="note.comment.length > 0">- {{note.comment}}</span>
            </p>
          </div>
          
          <!-- button for edit the node -->
          <ion-button class="ion-icon ion-edit"
                      ng-click="showNoteAddEditModal(state, note)">
          </ion-button>
        </div>
      </div>
      
      <!-- item -->
      <div class="edit-list-item"
           ng-repeat="note in noteList track by $index"
           ng-if="!studentRecord.collapseNoteList">
        
        <div class="item">
          <span><strong>{{note.category}}</strong></span>
          <p>
            <strong>{{noteDateList[$index].date}}</strong>
            <span ng-if="note.comment.length > 0">- {{note.comment}}</span>
          </p>
        </div>
      </div>
    </div>
    
    <!-- contact information -->
    <div class="list" ng-if="hasContacts(studentRecord)">
      <div class="row item-divider">
        <span class="col">Contact:</span>
      </div>
      <div class="row item table-item">
        <div class="col col-40">Email:</div>
        <a class="col" ng-href="mailto:{{studentRecord.email}}">{{studentRecord.email}}</a>
      </div>
      <div class="row item table-item">
        <div class="col col-40">Phone Home:</div>
        <a class="col"
           ng-href="tel:{{studentRecord.homePhoneNumber}}}">
          {{studentRecord.homePhoneNumber}}
        </a>
      </div>
      <div class="row item table-item">
        <div class="col col-40">Phone Mobile:</div>
        <a class="col"
           ng-href="tel:{{studentRecord.mobilePhoneNumber}}">
          {{studentRecord.mobilePhoneNumber}}
        </a>
      </div>
    </div>
    
    <!-- address information -->
    <div class="list" ng-if="hasAddress(studentRecord)">
      <div class="row item-divider">
        <span class="col">Address:</span>
      </div>
      <div class="row item table-item">
        <div class="col col-40">Street:</div>
        <div class="col">{{studentRecord.street}}</div>
      </div>
      <div class="row item table-item">
        <div class="col col-40">City:</div>
        <div class="col">{{studentRecord.city}}</div>
      </div>
      <div class="row item table-item">
        <div class="col col-40">Postal Code:</div>
        <div class="col">{{studentRecord.postalCode}}</div>
      </div>
    </div>
    
    <!-- grade list -->
    <div class="list" ng-repeat="class in classGradeList track by $index">
      <div class="row item-divider">
        <span class="col">Grade: Class: {{class.name}} - {{class.subject}}</span>
      </div>
      <div class="row item table-item" ng-repeat="grade in class.gradeList track by $index">
        <div class="col col-50">{{grade.category}}: {{grade.name}}</div>
        <div class="col">{{grade.weight}}%</div>
        <div class="col">{{grade.grade|validGrade}}</div>
      </div>
      <div class="row item table-item">
        <div class="col col-50"><strong>Grade:</strong></div>
        <div class="col"><strong>{{class.sumWeight}}%</strong></div>
        <div class="col"><strong>{{class.avgGrade|validGrade}}</strong></div>
      </div>
    </div>
    
    <!-- class list -->
    <div class="list" ng-if="hasClasses(classList)">
      <div class="row item-divider">
        <span class="col">Classes:</span>
      </div>
      <div class="row item table-item" ng-repeat="class in classList track by $index">
        <div class="col">{{class.name}} - {{class.subject}}</div>
      </div>
    </div>
    <div class="spacer" style="height: 40em;"></div>
  </ion-content>
  
  <!-- footer displaying the "Mark All" and "Delete" buttons -->
  <ion-footer-bar ng-if="state.showEditMode" align-title="right" class="bar-light">
    <button class="button button-stable" ng-click="unmarkAllNotes(state)">Unselect All</button>
    <button class="button button-assertive" ng-click="deleteSelectedNotes(state)">Delete</button>
  </ion-footer-bar>
</ion-view>

<!-- modal for adding and editing a note -->
<script id="templates/student-note-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 ng-if="state.newNote" class="title">New Note</h1>
      <h1 ng-if="!state.newNote" class="title">Edit Note</h1>
      <button class="button button-clear button-primary" ng-click="noteAddEditModal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding-top has-header">
      <form class="list">
        <ion-item class="item-divider">Note Info:</ion-item>
        <label class="item item-select">
          <span class="input-label">Category:</span>
          <select ng-model="state.noteCategory">
            <option>Unauthorized Absence</option>
            <option>Forgot Homework</option>
            <option>Forgot Notes</option>
            <option>Late</option>
            <option>Valid Absence</option>
            <option>Other</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Date:</span>
          <input type="date" ng-model="state.noteDate">
        </label>
        <label class="item">
          <span class="input-label">Comment:</span>
          <textarea style="width: 100%" placeholder="Write a comment here!" ng-model="state.noteComment"></textarea>
        </label>
        <button ng-if="state.newNote" class="button button-positive button-block" ng-click="addNoteRecord(state)">Add</button>
        <button ng-if="!state.newNote" class="button button-positive button-block" ng-click="updateNoteRecord(state)">Update</button>
      </form>
    </ion-content>
  </ion-modal-view>
</script>
