<ion-view title="Tabs Controller">
  <ion-tabs class="tabs-balanced tabs-icon-top">
    <ion-tab title="Classes" icon="ion-home" href="#/tab/class-list">
      <ion-nav-view name="classes"></ion-nav-view>
    </ion-tab>
    <ion-tab title="About" icon="ion-information-circled" href="#/tab/about">
      <ion-nav-view name="about"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon="ion-gear-b" href="#/tab/settings">
      <ion-nav-view name="settings"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
